sudo: required
dist: trusty
#services:
#  - docker
#before_install:
#- docker pull lineageos4microg/docker-lineage-cicd
#- docker run -e "BRANCH_NAME=cm-11.0" -v "/home/user/lineage:/srv/src" -v "/home/user/zips:/srv/zips" -v "/home/user/logs:/srv/logs" -v "/home/user/cache:/srv/ccache" lineageos4microg/docker-lineage-cicd
language: c
cache: ccache
env: GCC_VERSION=4.9
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-7
    - g++-7
    - flex 
    - lzop
script:
# Install dependency
- sudo apt-get install -y dpkg
- sudo add-apt-repository "deb http://us.archive.ubuntu.com/ubuntu/ bionic main"
#- wget http://ftp.br.debian.org/debian/pool/main/f/flex/libfl2_2.6.4-6.1_amd64.deb
#- sudo dpkg -i libfl2_2.6.4-6.1_amd64.deb
#- sudo add-apt-repository ppa:ubuntu-toolchain-r/test
- sudo apt-get update
- sudo apt install libfl2

#- git clone git://github.com/Sabsabsab/android_kernel_samsung_degas3g
#- cp -r android_kernel_samsung_degas3g/* .
#- git clone --branch=4.4.2 https://github.com/mtlive/android_kernel_samsung_lt02.git mtlive/android_kernel_samsung_lt02
#- cd mtlive/android_kernel_samsung_lt02
#- git reset --hard bcdd572fb3cc065e7cce9e0d3ae26e69d9ef761c

# getting UberTC
#- git clone  --depth=1 "https://bitbucket.org/matthewdalex/arm-eabi-${GCC_VERSION}" "../arm-eabi-${GCC_VERSION}"
- wget -q http://download1648.mediafire.com/171mm4euelfg/id6a145z8457h0r/arm-cortex_a9-linux-gnueabihf-linaro_4.7.4-2014.06-build_2014_09_13.tar.xz
- mkdir ../arm-eabi-${GCC_VERSION}
- tar -xJfv arm-cortex_a9-linux-gnueabihf-linaro_4.7.4-2014.06-build_2014_09_13.tar.xz -C ../arm-eabi-${GCC_VERSION}
# 'source build.sh <<< "${nbasebuildsh}"'
# 'export zipfile#="${zipfile}"'
- export CROSS_COMPILE="$(pwd)/../arm-eabi-${GCC_VERSION}/bin/arm-eabi-"
- export PATH=$PATH:"$(pwd)/../arm-eabi-${GCC_VERSION}/bin/"
- export LD_LIBRARY_PATH="/usr/local/lib"
- sudo ldconfig
#revert battery LPM changes
#- curl -sL https://github.com/mtlive/android_kernel_samsung_lt02/raw/master/arch/arm/mach-mmp/board-lt02-battery.c -o arch/arm/mach-mmp/board-lt02-battery.c
#- source build.sh <<< "${nbasebuildsh}"
- export ARCH=arm && export SUBARCH=arm
#- make clean && make mrproper #V=1
#- make pxa986_lt023g_werewolf_defconfig
#- make pxa986_lt02_defconfig
#- make alldefconfig pxa986_lt023g_defconfig
#- make oldconfig
#- make -j 4 #V=1
- source t211_build.sh 
- find ./out/ -name "*.ko" -print | zip -j modules.zip -@

deploy:
  provider: releases
  skip_cleanup: true
  api_key: ${KEY}
  file_glob: true
  file: 
    - "arch/${ARCH}/boot/*Image*"
    - "modules.zip"
  on:
  #  tags: true
    all_branches: true
